/* Write your CSS here */

.historyContainer {
  display: flex;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  justify-content: space-between;
  margin-top: 0px;

  align-items: center;
  padding-left: 0px;
}

.delete-icon {
  height: 20px;
}

.transaction {
  margin-right: 43px;
  padding: 10px;
  font-size: 10px;
}
.delete-div {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
}
